<div class="table-wrapper">			
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Request <b>Details</b></h2>
            </div>
            <div class="col-sm-6">
                <div class="search-box">
                    <div class="input-group">								
                        <input type="text" id="search" class="form-control" placeholder="Search by Name">
                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th style="width: 5%;">User</th>                    
                <th>Actions</th>               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="editRow">aaa</td>
                <td>
                    <a href="#" class="accept" title="Accept" data-toggle="tooltip"><i class="material-icons">done</i></a>
                    <a href="#" class="decline" title="Decline" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
            
            <tr>
                <td>4</td>
                <td class="editRow">ddd</td>
                <td>
                    <a href="#" class="accept" title="Accept" data-toggle="tooltip"><i class="material-icons">done</i></a>
                    <a href="#" class="decline" title="Decline" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td class="editRow">eee</td>
                <td>
                    <a href="#" class="accept" title="Accept" data-toggle="tooltip"><i class="material-icons">done</i></a>
                    <a href="#" class="decline" title="Decline" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>        
        </tbody>
    </table>
    
    
</div>
