<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8000/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>    
    <link rel="icon" type="image/png" href="images/icons/favicon.ico">

    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">


    	<!-- BOOTSTRAP STYLES-->
        
        <!-- FONTAWESOME STYLES-->
       <link href="css/font-awesome.css" rel="stylesheet" />
           <!-- CUSTOM STYLES-->
       <link href="css/custom.css" rel="stylesheet" />
        <!-- GOOGLE FONTS-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   

    <link href="css/app.css" rel="stylesheet" />
    <link href="css/add_product.css" rel="stylesheet" />
    <link href="css/product_detail.css" rel="stylesheet" />
    <link href="css/category.css" rel="stylesheet" />
</head>
<body>
    <div className="container-fluid">
    <%- include("./blocks/navbar.ejs") %>
    <%- include("./pages/" + page +".ejs") %>
    </div>

    

<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.js"></script>

    <script src="js/home.js"></script>
    <script src="js/product_detail.js"></script>
    <script src="js/profile.js"></script>


</body>
</html>
