<h1>Category</h1>
<!-- PAGINATION -->
<div class="category-pagination" style="padding: 20px;">
    <div class="pagination active_category" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
    border-width: 1px; box-shadow: 2px 2px 5px grey;
    background-color: #F4F4F4;display: inline-block;">
    <a href="" style="text-align: center;color: black;">1</a>
    </div>
    <div class="pagination" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
        <a href="" style="text-align: center;color: black;">2</a>
    </div>
    <div class="pagination" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
        <a href="" style="text-align: center;color: black;">3</a>
    </div>
</div>