<h1>Category <%- cate.name %> </h1>
<% categories.forEach(function(category,index){ %>
    <div style="padding: 20px;">
        <a href="/category/<%- cate._id %>/<%- category._id %>"><%- category.name  %></a>
    </div>
<% })  %> 