
  <h2 style="border-width:3px;border-bottom-style:solid;border-color: darkgray ;
  padding:10px;width: 25%;">Books </h2>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3 mb-3">
        <div class="card h-100">
          <img src="upload/Vaio.jpg" alt="ProName" title="ProName" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">ProName</h6>
            <h5 class="card-title text-danger">1,000,000 </h5>
            <p class="card-text">TinyDes</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-sm btn-outline-primary" href="#" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            <a class="btn btn-sm btn-outline-success" href="#" role="button">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-3 mb-3">
        <div class="card h-100">
          <img src="upload/Vaio.jpg" alt="ProName" title="ProName" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">ProName</h6>
            <h5 class="card-title text-danger">1,000,000 </h5>
            <p class="card-text">TinyDes</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-sm btn-outline-primary" href="#" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            <a class="btn btn-sm btn-outline-success" href="#" role="button">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-3 mb-3">
        <div class="card h-100">
          <img src="upload/Vaio.jpg" alt="ProName" title="ProName" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">ProName</h6>
            <h5 class="card-title text-danger">1,000,000 </h5>
            <p class="card-text">TinyDes</p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-sm btn-outline-primary" href="#" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            <a class="btn btn-sm btn-outline-success" href="#" role="button">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-3">
          <div class="card h-100">
            <img src="upload/Vaio.jpg" alt="ProName" title="ProName" class="card-img-top">
            <div class="card-body">
              <h6 class="card-title">ProName</h6>
              <h5 class="card-title text-danger">1,000,000 </h5>
              <p class="card-text">TinyDes</p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Details
              </a>
              <a class="btn btn-sm btn-outline-success" href="#" role="button">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Add to cart
              </a>
            </div>
          </div>
        </div>

    </div>
  </div>