<main role="main">  
        <div class="container marketing">
      
         <hr class="featurette-divider">

          <div class="row featurette">
                <div class="col-md-8 order-md-2">
                  <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                  <p class="lead">Some test ...</p>
                </div>
                <div class="col-md-4 order-md-1">
                  <img src="images/bg-01.jpg" alt="picture">
                </div>
              </div>
      
          <hr class="featurette-divider">
      
        </div><!-- /.container -->
      
</main>