<h1>category</h1>
<div class="row row-center">
  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail">
      <a href=""><img src="upload/course_1.jpg" alt="Image" class="img-fluid" /></a>
      <div class="price">$99.00</div>
      <div class="category"><h3>Mobile Application</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <h2>How To Create Mobile Apps Using Ionic</h2>
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
      <p id = "pd-10"><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Buy this product</a></p>
    </div>
  </div>
  </div>

  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail">
      <a href=""><img src="upload/course_1.jpg" alt="Image" class="img-fluid" /></a>
      <div class="price">$99.00</div>
      <div class="category"><h3>Mobile Application</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <h2>How To Create Mobile Apps Using Ionic</h2>
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
      <p id = "pd-10"><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Buy this product</a></p>
    </div>
  </div>
  </div>

  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail">
      <a href=""><img src="upload/course_1.jpg" alt="Image" class="img-fluid" /></a>
      <div class="price">$99.00</div>
      <div class="category"><h3>Mobile Application</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <h2>How To Create Mobile Apps Using Ionic</h2>
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
      <p id = "pd-10"><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Buy this product</a></p>
    </div>
  </div>
  </div>


</div>

