<!-- Danh muc 1 -->
<h2><a href="/category" style="color: black;">&nbsp Iphones</a></h1>
<div class="row row-center">
  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail"></figure>
      <a href="/chi-tiet-san-pham"><img src="upload/iphone.jpg"  style="height: 350px;"alt="Image" class="img-fluid" /></a>
      <div class="price" style="top:380px;right:14px!important">$99.00</div>
      <div class="category"><h3>Iphone X</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Người bán: aaaa</p>
      <p class="desc mb-4">Bước giá : 500.000đ</p>
      <p id = "pd-10"><a href="/chi-tiet-san-pham" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
    </div>
  </div>
  </div>

  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail"></figure>
      <a href="/chi-tiet-san-pham"><img src="upload/iphone.jpg"  style="height: 350px;"alt="Image" class="img-fluid" /></a>
      <div class="price" style="top:380px;right:14px!important">$99.00</div>
      <div class="category"><h3>Iphone 6 Plus</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Người bán: aaaa</p>
      <p class="desc mb-4">Bước giá : 500.000đ</p>
      <p id = "pd-10"><a href="/chi-tiet-san-pham" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
    </div>
  </div>
  </div>

  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail"></figure>
      <a href="/chi-tiet-san-pham"><img src="upload/iphone.jpg"  style="height: 350px;"alt="Image" class="img-fluid" /></a>
      <div class="price" style="top:380px;right:14px!important">$99.00</div>
      <div class="category"><h3>Iphone 8</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Người bán: aaaa</p>
      <p class="desc mb-4">Bước giá : 500.000đ</p>
      <p id = "pd-10"><a href="/chi-tiet-san-pham" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
    </div>
  </div>
  </div>

</div>

<h2><a href="/category" style="color: black;">&nbsp Samsung</a></h1>
  <div class="row row-center">
    <div class="col-lg-4">
      <div class="course-1-item">
      <figure class="thumnail">
        <a href="/chi"><img src="upload/course_1.jpg" alt="Image" class="img-fluid" /></a>
        <div class="price">$99.00</div>
        <div class="category"><h3>Samsung galaxy s1</h3></div>  
      </figure>
      <div class="course-1-content pb-4">

        <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
        </div> 
        <p class="desc mb-4">Người bán : aaaaa</p>
        <p class="desc mb-4">Bước giá : 500.000đ</p>
        <p id = "pd-10"><a href="/chi" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
      </div>
    </div>
    </div>
  
    <div class="col-lg-4">
      <div class="course-1-item">
      <figure class="thumnail">
        <a href="/chi"><img src="upload/course_1.jpg" alt="Image" class="img-fluid" /></a>
        <div class="price">$99.00</div>
        <div class="category"><h3>Samsung galaxy s2</h3></div>  
      </figure>
      <div class="course-1-content pb-4">

        <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
        </div> 
        <p class="desc mb-4">Người bán : aaaaa</p>
        <p class="desc mb-4">Bước giá : 500.000đ</p>
        <p id = "pd-10"><a href="/chi" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
      </div>
    </div>
    </div>
  
    <div class="col-lg-4">
      <div class="course-1-item">
      <figure class="thumnail">
        <a href="/chi"><img src="upload/course_1.jpg" alt="Image" class="img-fluid" /></a>
        <div class="price">$99.00</div>
        <div class="category"><h3>Samsung galaxy s4</h3></div>  
      </figure>
      <div class="course-1-content pb-4">

        <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
        </div> 
        <p class="desc mb-4">Người bán : aaaaa</p>
        <p class="desc mb-4">Bước giá : 500.000đ</p>
        <p id = "pd-10"><a href="/chi" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
      </div>
    </div>
    </div>
  
  
  </div>

<!-- Danh muc 2 -->

<h2><a href="/category" style="color: black;">&nbsp Dell</a></h1>
<div class="row row-center">
  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail">
      <a href="/chi-tiet-san-pham/"><img src="upload/Dell.jpg" style="height: 350px;" alt="Image" class="img-fluid" /></a>
      <div class="price" style="top:380px;right:0px!important">$99.00</div>
      <div class="category"><h3>Laptop Dell Vostro 5581 P77F001</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Người bán : aaaaa</p>
      <p class="desc mb-4">Bước giá : 500.000đ</p>
      <p id = "pd-10"><a href="/chi-tiet-san-pham/" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
    </div>
  </div>
  </div>

  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail">
      <a href="/chi-tiet-san-pham/"><img src="upload/Dell.jpg" style="height: 350px;" alt="Image" class="img-fluid" /></a>
      <div class="price" style="top:380px;right:0px!important">$99.00</div>
      <div class="category"><h3>DELL INSPIRON 15 3542 4TH GEN INTEL CORE I5
      </h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Người bán : aaaaa</p>
      <p class="desc mb-4">Bước giá : 500.000đ</p>
      <p id = "pd-10"><a href="/chi-tiet-san-pham/" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
    </div>
  </div>
  </div>

  <div class="col-lg-4">
    <div class="course-1-item">
    <figure class="thumnail">
      <a href="/chi-tiet-san-pham/"><img src="upload/Dell.jpg" style="height: 350px;" alt="Image" class="img-fluid" /></a>
      <div class="price" style="top:380px;right:0px!important">$99.00</div>
      <div class="category"><h3>Dell Latitude 5490</h3></div>  
    </figure>
    <div class="course-1-content pb-4">
      <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
        <span class="icon-star2 text-warning" />
      </div> 
      <p class="desc mb-4">Người bán : aaaaa</p>
      <p class="desc mb-4">Bước giá : 500.000đ</p>
      <p id = "pd-10"><a href="/chi-tiet-san-pham/" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
    </div>
  </div>
  </div>


</div>

<h2><a href="/category" style="color: black;">&nbsp Vaio</a></h1>
  <div class="row row-center">
    <div class="col-lg-4">
      <div class="course-1-item">
      <figure class="thumnail"></figure>
        <a href="/chi-tiet-san-pham"><img src="upload/Vaio.jpg"  style="height: 350px;"alt="Image" class="img-fluid" /></a>
        <div class="price" style="top:380px;right:14px!important">$99.00</div>
        <div class="category"><h3>VAIO SX12</h3></div>  
      </figure>
      <div class="course-1-content pb-4">
        
        <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
        </div> 
        <p class="desc mb-4">Người bán: aaaa</p>
        <p class="desc mb-4">Bước giá : 500.000đ</p>
        <p id = "pd-10"><a href="/chi-tiet-san-pham" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
      </div>
    </div>
    </div>
  
    <div class="col-lg-4">
      <div class="course-1-item">
      <figure class="thumnail"></figure>
        <a href="/chi-tiet-san-pham"><img src="upload/Vaio.jpg"  style="height: 350px;"alt="Image" class="img-fluid" /></a>
        <div class="price" style="top:380px;right:14px!important">$99.00</div>
        <div class="category"><h3>Sony VAIO Fit 14326 Notebook</h3></div>  
      </figure>
      <div class="course-1-content pb-4">
        <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
        </div> 
        <p class="desc mb-4">Người bán: aaaa</p>
        <p class="desc mb-4">Bước giá : 500.000đ</p>
        <p id = "pd-10"><a href="/chi-tiet-san-pham" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
      </div>
    </div>
    </div>
  
    <div class="col-lg-4">
      <div class="course-1-item">
      <figure class="thumnail"></figure>
        <a href="/chi-tiet-san-pham"><img src="upload/Vaio.jpg"  style="height: 350px;"alt="Image" class="img-fluid" /></a>
        <div class="price" style="top:380px;right:14px!important">$99.00</div>
        <div class="category"><h3>Sony VAIO E VPCEH35EN Laptop </h3></div>  
      </figure>
      <div class="course-1-content pb-4">
        <div class="rating text-center mb-3">
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
          <span class="icon-star2 text-warning" />
        </div> 
        <p class="desc mb-4">Người bán: aaaa</p>
        <p class="desc mb-4">Bước giá : 500.000đ</p>
        <p id = "pd-10"><a href="/chi-tiet-san-pham" class="btn btn-primary rounded-0 px-4">Đấu giá</a></p>
      </div>
    </div>
    </div>
  
  </div>