<h2 style="display: inline;padding: 15px;"> Danh sách sản phẩm đã bán</h2>
<button class="btn btn-primary" style="right:200px!important;"><a href="/add-product" style="text-decoration: none;color:blanchedalmond">Sell</a></button>