<h2 style="display: inline;padding: 15px;"> Danh sách sản phẩm đang bán</h2>
<button class="btn btn-primary" style="right:200px!important;"><a href="/product/add/<%- _id %>" style="text-decoration: none;color:blanchedalmond">ADD</a></button>