<form class="login100-form validate-form" action="" method="POST" onsubmit="return check()">

    <% if(typeof user !== "undefined"){ %>
         <span class="login100-form-title p-b-43">
            Reset password
        </span> 
    
        <div class="wrap-input100 validate-input" style="display: none;">
            <input class="input100 password"  type="password" name="_id"  value="<%- user._id %>">
            <span class="focus-input100" ></span>
            <span class="label-input100" >New password</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100 password" type="password" name="password" id="pw">
            <span class="focus-input100" ></span>
            <span class="label-input100" >New password</span>
        </div>
         
        <div class="wrap-input100 validate-input" data-validate="Confirm is required">
            <input class="input100 Confirm" type="password" name="pass2" id="pw2">
            <span class="focus-input100" ></span>
            <span class="label-input100" >Confirm Password</span>
        </div>
    
        <% if(typeof message != "undefined") { %>
            <span style="color: red;"> <%- message %></span>
        <% } %>
    
    
        <div class="container-Register100-form-btn">
            <button id="Confirm" class="Register100-form-btn" type="submit">
                Confirm 
            </button>
        </div>    
       
    <% }else{ %>
        <h2 style="color: red;">Error : Something went wrong</h2>
    <% }%>
</form>