<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li >
                <a href="/admin" ><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
            </li>

            <li>
                <a href="/admin/users"><i class="fa fa-qrcode "></i>Users</a>
            </li>

            <li>
                <a href="/admin/cate"><i class="fa fa-bar-chart-o"></i>Category</a>
            </li>

            <li>
                <a href="/admin/Request"><i class="fa fa-edit "></i>Request</a>
            </li>
            
        </ul>
    </div>

</nav>